<!DOCTYPE html>
<html>
 
<head>
    <title>TortoisePassport Skeleton Login Page</title>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</head>
 
<body>
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
 
    <h1 id="userHandle">Welcome, {{ user.firstname }}</h1>
    <h2 id="initialWeight">Your current plan is to lose {{ user.initialWeight }} pounds per week.</h2>
 
    <script>
        //console.log('user', user);
        let username = $('#userHandle').text();
        console.log('username', username);

        let goalWeight = $('#initialWeight').text();
        console.log('goalWeight', goalWeight);
        //$.get('/routines/' + user.initialWeight, function(res) {

        //});
    </script>
    <h3>Nice!</h3>
</body>
 
</html>